/* ********************************************************************** */
/*                                                                        */
/*    ZoomBMP.RC                                                          */
/*                                                                        */
/* ********************************************************************** */

#include <os2.h>
#include "ZoomBMP.h"


ICON    ID_MAIN_WIN   ZoomBMP.ico

BITMAP  ID_BMP        mandy.bmp
